<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title>Menu Cibo e Musica</title>
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	
	<div th:replace="fragments/base.html :: logo"></div>

	<h4>Bevande</h4>

	<div th:replace="fragments/base.html :: navigator"></div>
	
	<div class="Corpo">
 		&nbsp;
		<table class="Prodotto" th:each="prodotto : ${bevande}">
			<tr>
				<td style="width: 400px">
					<b><a  th:text="${prodotto.nome}">Nome</a></b>
				</td>
				<td>
					<i><a  th:text="|${prodotto.prezzo} &euro;|">Prezzo</a></i>
				</td>	
				<td th:if="${ristoratoreCorrente == null}">	
					<input style="width: 40px" type="number" value="1" />		
				</td>
				<td>	
					<form th:action="@{'/prodotto' + '/' + ${prodotto.id} +  '/' + 'addProdottoCarrello'}"
					      th:method="POST">
		            	<select name="quant" th:value = "${quant}" size="1">
		            		<option th:each = "quant : ${quantita}"
		            				th:text = "|${quant}|"
		            				th:value = "${quant}">Numero</option>
		            	</select>					     
					      <button type="submit">&#128722;</button>
					</form>
				</td>
				<td th:if="${ristoratoreCorrente != null}">
					<form th:href="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/modificaProdotto'}"
				   		  th:action="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/modificaProdotto'}"
				          th:method="GET">
				          <button type="submit">Modifica</button>
					</form>				
				</td>
				<td th:if="${ristoratoreCorrente != null}">	
					<form th:href="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/eliminaProdotto'}"
				   		  th:action="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/eliminaProdotto'}"
				          th:method="GET">
				          <button type="submit">Elimina</button>
					</form>	
				</td>
			</tr>
			<tr>
				<td>
					<i><a th:text="|${prodotto.descrizione}|">Descrizione</a></i>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>	
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>





<!-- 
<span th:if="${ristoratoreCorrente != null}">
				<td>
					<form th:href="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/modificaProdotto'}"
				   		  th:action="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/modificaProdotto'}"
				          th:method="GET">
				          <button type="submit">Modifica</button>
					</form>				
				</td>
				<td>	
					<form th:href="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/eliminaProdotto'}"
				   		  th:action="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'admin/eliminaProdotto'}"
				          th:method="GET">
				          <button type="submit">Elimina</button>
					</form>	
				</td>				
			</span>	

 -->