<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title>Menu Cibo e Musica</title>
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>

	<h4>Menu Cibo & Musica</h4>

	<div class="Corpo">
		<table>
			<tr>
				<td>
					<form>
						<button type="submit">Primi Piatti</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Secondi Piatti</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Pizze</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Dolci</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Lista Vini</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Bevande</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form>
						<button type="submit">Coktails</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>