<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	
	<div th:replace="fragments/base.html :: logo"></div>
	
	<h4>Lista Ordine</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	
 	<div class="Corpo">
		<table>
			<thead>
				<tr>
					<th style="width: 300px; text-align: center;">Prodotto</th>
					<th style="width: 150px; text-align: center;">Quantit&agrave;</th>
					<th style="width: 150px; text-align: center;">SubTotale</th>
				</tr>
			</thead>
			<tbody>				  
				<tr th:each="rigaOrdine : ${righeOrdine}">
					<td style="width: 300px; text-align: center;" th:text="${rigaOrdine.prodotto.nome}">Prodotto</td>
					<td style="width: 150px; text-align: center;" th:text="${rigaOrdine.quantita}">Quantita</td>
					<td style="width: 150px; text-align: center;" th:text="|${rigaOrdine.subTotale} &euro;|">SubTotale</td>
				</tr>
			</tbody>
		</table>
		&nbsp;
		<form>
			<input class="button" type="button" value="Indietro" onClick="javascript:history.back()" name="button">
		</form>
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>