.InOut {
	border-radius: 10px 10px 10px 10px;
	text-align: right;
	background: red;
	margin-left: 83%;
	text-align: center;
	font-weight: bold;
	color: #ffff80;
  	font-family: "Comic Sans MS", cursive;
	}

.Titolo{
	float: left; 
	margin-right: 20%; 
	margin-left: 1.5%;
	margin-top:1%;
	position: fixed; /* Fallo aderire, anche sullo scorrimento */
    overflow: auto; /* Abilita lo scorrimento se il sidenav ha troppi contenuti */
}

.Logo{
	width: 200px;
	height: 200px;
}

.Error{
	width:300px;
	height:300px;
	margin-left: 25%;	
}

h4 {
	height: 20%px;
	color: red;
	margin: 8%;
	line-height: 30px;
	font-size: 100px;
	text-align: center;
	font-weight: bold;
	font-family: "Brush Script MT", cursive;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	}

.Navigator {
    list-style-type: none; /*Rimuove i proiettili*/
    padding: 0;
    margin-left: 1%;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%; /*collegato a margin-left di .Corpo*/
    background-color: #f1f1f1;
    /*height: 100%; /* Tutta l'altezza */
    position: fixed; /* Fallo aderire, anche sullo scorrimento */
    overflow: auto; /* Abilita lo scorrimento se il sidenav ha troppi contenuti */
}

.Corpo {
  margin-left: 20%; /*Collegato a width di ul*/
  font-size: 20px;
  color: #ffff80;
  font-family: "Comic Sans MS", cursive;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

li a:hover {
    background-color: #555;
    color: white;
}

button, .button{
	border-radius: 10px 10px 10px 10px;
	background: red;
	color: #ffff80;
  	font-family: "Comic Sans MS", cursive;
}

body {
  	width: 100%;
  	margin-left: 0%;
  	margin-right: 0%;
 	/*background-image: url("/images/Legno1.jpg");*/
 	/*background: #808080;*/
 	background-image: url("/images/Lavagna.jpg");
	background-size: 100%;
}

a{
	color: #ffff80;
  	font-family: "Comic Sans MS", cursive;
}
	
.Footer{
		text-align: center;
		margin-left: 1%;
		margin-right: 1%;
		width: 99%;
    /* posizionamento in fondo alla pagina */
   		color: #ffff80;
    	bottom: 10px;
    	overflow: hidden;
		padding: auto;
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		font-family: "Times New Roman", Georgia, Serif;
	}